div.user {
    width: 80%;
    height: 2em;
    margin: 3px auto;
}
div.main {
    width: 80%;
    margin: 1px 10%;
    display: flex;
}
div.menu {
    width: 20%;
}
div.content {
    width: 80%;
}
div.carousel-inner {
    padding: 5px 0;
}
div.footer {
    background-color: darkred;
    color: white;
}
